@import "/styles/common.scss";

.login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  :global {
    .content {
      position: relative;
      padding: 20px 40px;
      width: 400px;
      border-radius: 6px;
      background: #fff;
      animation: rotate 0.3s ease-in;
    }

    @keyframes rotate {
      0% {
        transform: scale(0) rotate(1turn);
      }

      100% {
        transform: scale(1) rotate(0deg);
      }
    }

    // .ant-input {
    //   height: 40px;
    // }

    .title {
      margin-bottom: 20px;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    .tips {
      display: inline;
      color: #999;
      font-size: 10px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      font-size: 30px;
      color: #999;
      cursor: pointer;
    }

    .input-div {
      height: 60px;
      font-size: 16px;

      .input {
        padding: 0 20px;
        width: 100%;
        height: 50px;
        outline: none;
        border: 1px solid #999;
        border-radius: 3px;

        &:focus {
          outline: none;
          border: 1px transparent solid;
          background-image: $bg-border;
          background-clip: padding-box, border-box;
          background-origin: padding-box, border-box;
        }
      }
    }

    .submit {
      margin-top: 20px;
      width: 100%;
      height: 50px;
      border-radius: 6px;
      background-image: $bg;
      color: #fff;
      text-align: center;
      font-size: 16px;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .login-ways {
      margin-top: 20px;

      .line {
        position: absolute;
        display: inline-block;
        content: "";
        height: 1px;
        background: #666;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
      }

      .ways {
        font-size: 14px;
        color: #666;
        text-align: center;
        position: relative;

        &:after {
          @extend .line;
          left: 0;
        }

        &:before {
          @extend .line;
          right: 0;
        }
      }

      .href-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .href {
          width: 32px;
          height: 32px;
          margin: 15px 0;

          .icon-github {
            font-size: 34px;
          }
        }
      }
    }

    .changeLogin {
      text-align: center;
      font-size: 13px;
    }
  }
}