<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.AlbumDAO"> 
    <select id="getAlbumById"  resultType="Album">
        select
        * from Album where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Album where id=#{id}
	</delete>
    <select id="getAlbumCount" resultType="int">
        select count(id) from Album
    </select>
    <select id="getAllAlbum" resultType="Album">
        select * from Album
    </select>
    <insert id="insert" parameterType="Album">
        insert into
        Album(title,thumb,description,uid,created) 
        values(#{title},#{thumb},#{description},#{uid},#{created});
    </insert>
        
    <update id="update" parameterType="Album">
		update Album set title=#{title},thumb=#{thumb},description=#{description},uid=#{uid},created=#{created} where id=#{id}
	</update>
        </mapper>