<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.ArticleDAO"> 
    <select id="getArticleById"  resultType="Article">
        select
        * from Article where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Article where id=#{id}
	</delete>
    <select id="getArticleCount" resultType="int">
        select count(id) from Article
    </select>
    <select id="getAllArticle" resultType="Article">
        select * from Article
    </select>
     <select id="getAllArticle2" resultType="Article">
        select * from Article where title LIKE concat(concat('%',#{title}),'%') OR bodytext LIKE concat(concat('%',#{title}),'%')
    </select>
    <insert id="insert" parameterType="Article">
        insert into
        Article(vpath,tags,uid,title,thumb,description,bodytext,created,click,support) 
        values(#{vpath},#{tags},#{uid},#{title},#{thumb},#{description},#{bodytext},#{created},#{click},#{support});
    </insert>
        
    <update id="update" parameterType="Article">
		update Article set vpath=#{vpath},uid=#{uid},title=#{title},thumb=#{thumb},description=#{description},bodytext=#{bodytext},created=#{created},click=#{click},support=#{support} where id=#{id}
	</update>
        </mapper>