<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.FriendDAO"> 
    <select id="getFriendById"  resultType="Friend">
        select
        * from Friend where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Friend where id=#{id}
	</delete>
    <select id="getFriendCount" resultType="int">
        select count(id) from Friend
    </select>
    <select id="getAllFriend" resultType="Friend">
        select * from Friend
    </select>
    <insert id="insert" parameterType="Friend">
        insert into
        Friend(userid,ouserid,) 
        values(#{userid},#{ouserid},);
    </insert>
        
    <update id="update" parameterType="Friend">
		update Friend set userid=#{userid},ouserid=#{ouserid}, where id=#{id}
	</update>
        </mapper>