<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.MajorDAO"> 
    <select id="getMajorById"  resultType="Major">
        select
        * from Major where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Major where id=#{id}
	</delete>
    <select id="getMajorCount" resultType="int">
        select count(id) from Major
    </select>
    <select id="getAllMajor" resultType="Major">
        select * from Major
    </select>
    <insert id="insert" parameterType="Major">
        insert into
        Major(major_name,collegeid,master,created,status) 
        values(#{major_name},#{collegeid},#{master},#{created},#{status});
    </insert>
        
    <update id="update" parameterType="Major">
		update Major set major_name=#{major_name},collegeid=#{collegeid},master=#{master},created=#{created},status=#{status} where id=#{id}
	</update>
        </mapper>