<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.TasksDAO"> 
    <select id="getTasksById"  resultType="Tasks">
        select
        * from Tasks where `id`=#{id}
    </select>
    <delete id="delete">
		delete from Tasks where id=#{id}
	</delete>
    <select id="getTasksCount" resultType="int">
        select count(id) from Tasks
    </select>
    <select id="getAllTasks" resultType="Tasks">
        select * from Tasks
    </select>
    <insert id="insert" parameterType="Tasks">
        insert into
        Tasks(userid,classid,majorid,collegeid,step,attach,title,description,created) 
        values(#{userid},#{classid},#{majorid},#{collegeid},#{step},#{attach},#{title},#{description},#{created});
    </insert>
        
    <update id="update" parameterType="Tasks">
		update Tasks set userid=#{userid},classid=#{classid},majorid=#{majorid},collegeid=#{collegeid},step=#{step},attach=#{attach},title=#{title},description=#{description},created=#{created} where id=#{id}
	</update>
        </mapper>